<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.mapper.StudentMapper">

 <select id="findAllStudents" resultType="com.xzy.pojo.Students">
    select * from students
 </select>
 
<insert id="insertStudent" parameterType="com.xzy.pojo.Students">
INSERT INTO STUDENTS(NAME,EMAIL,DOB) VALUES(#{name},#{email},#{dob})
</insert>
 
</mapper>